body {
  font-family: 'Beau Rivage', cursive;
  font-family: 'Dosis', sans-serif;
  font-family: 'Edu QLD Beginner', cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: lightgray;
}

.app-container {
  height: 400px;
  width: 300px;
  background: #218ec9;
  border-radius: 20px;
  box-shadow: rgba(20, 18, 19, 0.4) 5px 5px,
    rgba(19, 14, 17, 0.3) 10px 10px,
    rgba(15, 10, 13, 0.2) 15px 15px,
    rgba(14, 11, 13, 0.1) 20px 20px,
    rgba(17, 13, 16, 0.05) 25px 25px;
}

.temp-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.temp-dispaly {
  display: flex;
  border-radius: 50%;
  color: #ffffff;
  height: 220px;
  width: 220px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  border: 3px #ffffff solid;
  transition: background 0.5s;
}

button {
  border-radius: 100px;
  height: 80px;
  width: 80px;
  font-size: 32px;
  color: #ffffff;
  background: rgb(105, 104, 104);
  border: 2px #ffffff solid;
}

button:hover {
  background: rgb(184, 184, 184);
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.neutral {
  background: rgb(184, 184, 184);
}

.cold {
  background: #035aa6;
}

.hot {
  background: red;
}